@import './mixins.less';
@import './vars.less';
@import '../fonts/GothamPro/stylesheet.css';
@import '../fonts/pfont/stylesheet.css';

body {
  margin: 0;
  padding: 0;
  //border-right: 2px dotted purple;
}
html {
  margin: 0;
  padding: 0;
}
.background {
  background-color: #000;
}
section {
  border-right: 2px solid red;
  width: 100%;
}
.wrapper {
  width: 85%;
  padding: 0;
  margin: 0 auto;
  height: inherit;
  border:2px dotted blue;
  @media screen and (max-width: @tablet) {
    width: 80%;
    margin: 0 auto;
  }
}
