@import '../fonts/GothamPro/stylesheet.css';
@import '../fonts/pfont/stylesheet.css';
@import './vars.less';
@import './mixins.less';

body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  @media screen and (max-width: 710px) {
    width: 102vw;
    overflow-x: hidden;
  }
}

section, main {
  margin: 0;
  padding: 0;
  width: 100vw;
  @media screen and (max-width: 710px) {
    width: 102vw;
    overflow-x: hidden;
  }
}

#app {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 85%;
  padding: 0;
  margin: 0 auto;
  height: inherit;
  border:2px dotted blue;
}
