@import './mixins.less';
@import './vars.less';
@import '../fonts/GothamPro/stylesheet.css';
@import '../fonts/pfont/stylesheet.css';

body {
  margin: 0;
  padding: 0 auto;
  width: initial;
}
html {
  margin: 0;
  padding: 0;
}
.background {
  background-color: #000;
}
section {
  margin: 1px;
  padding: 1px;
  width: 100%;
}
.container {
  margin: 0;
  padding: 0;
  border: 1px dotted #df67df;
}
main, #app{
  margin: 1px;
  padding: 1px;
  width: 100%;
}
.wrapper {
  width: 85%;
  padding: 0;
  margin: 0 auto;
  height: inherit;
  border:2px dotted blue;
  @media screen and (max-width: @tablet) {
    width: 80%;
    margin: 0 auto;
  }
  @media screen and (max-width: 520px) {
    width: 100%;
    margin: 0;
  }
}
