@itemactive: #fc635e;
@logocolor: #fc635e;
@headercolor: #fff;
@headerfirstword: #fc635e;
@bodycolor: #868686;
@bodygraybg: #f2f2f2;
@bodyfont: "P FEncore Sans Pro";
@logofont: "Gotham Pro";
@paragraphcolor: #adadad;
@stepsline: #fc635e;

//breakpoints

@largedesktop: 1350px;
@desktop: 1223px;
@largetablet: 1115px;
@tablet: 752px;
@smalltablet: 500px;
@largephone: 600px;
